nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;

    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}


/*hero-section*/
.hero{
    height: 700px ;

}
.personal-img{
    display: block;
    margin: auto;
    text-align: center;
    height: 150px;
    width:150px;
    border-radius: 50%;

}

.name-title{
    text-align: center;
    color: white;
    font-family: 'Licorice', cursive;
    font-size: 80px;
}
.subtitle{
    text-align: center;
    font-size: 20px;
}


/*content section*/

.hero-2{
    height: 700px ;
    background-color: lightgray;
    color: #012B36;
}
.bio{
    width: 25rem;
    height: 600px;
    padding: 0.625rem;

    /*border-radius: 6px;*/
    /*box-shadow: 0px 2px 15px 2px ;*/
}

.bio h2 {
    text-align: center;
    margin: 100px auto 25px;

}
.bio p{
    text-align: center;
    margin: 100px 150px;

}

/*skill section*/

.skill{
    height: 600px;
    text-align: center;
}

.skills{
    width: 25rem;
    padding: 0.625rem;

}

/*.skills h2{*/
/*    margin-bottom: 40px;*/
/*}*/
.fab{
    font-size: 80px;
    margin: 20px;

}

/*project section*/

.project{
    height: 600px;
    text-align: center;
    background-color: lightgray;
    color: #012B36;
}
.projecto{
    height: 250px;
    width: 400px;
}

/*contact section*/
.contact{
    height: 300px;
    text-align: center;
}


/*footer section*/

.footer{
    height: 75px;
    position: sticky;
    z-index: 1;
    padding: 1.5rem 3.5rem;
    background-color: lightgray;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);


}
.footer p{
    align-self: center;
}